// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import 'variables';

.noscroll {
    margin: 0;
    height: 100%;
    overflow: hidden
}

body {
    background-color: #ccc;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin: 1.2em 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

p {
    line-height: 150%;
}

#navbar {
    display: block;
}

#sidebar .logo-wrapper {
    padding: 0.5rem 0;
    text-align: center;
}

#sidebar .logo-wrapper .logo {
    width: 10em;
    height: auto;
}

.breadcrumbs-nav {
    padding-left: 2rem;
}

#main-wrapper {
}

main {
    position: absolute;
    top: 64px; right: 0; left: 0;
    min-height: 100vh;
    background-color: #efefef;
    min-height: calc(100vh - 64px);
}

@media only screen and (min-width : 992px) {

    #main-wrapper {
        margin-left: 300px;
    }

    main {
        left: 300px;
        top: 0;
        width: calc(100% - 300px);
        min-height: 100vh;
    }

    #navbar {
        display: none;
    }
}