@import 'variables';

body.login-page {
    background-color: lighten($blue, 20%);
}

.login-page {
    .login-form {
        max-width: 400px;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
